#body-grid {
    margin: 10px;
}

#nav {
	padding: 20px;
    padding-bottom: 0;
    background-image: url('./images/newspaperBG.jpeg');
    background-size: 70%;
}

#outerFolder {
	background-color: #a9956a;
    padding: 20px;
}

#aboutFolder {
	display: grid;
	background-image: url("images/linedPaper.jpeg");
	background-repeat: none;
	background-position: center;
	background-size: 50%;
    grid-template-columns: 50% 50%;
	padding: 20px
}

#bio {
    margin: auto; 
    font-size: 16px;
}

#callout {
	color: antiquewhite;
	padding-top: 5%;

}

#contact {
	display: grid;
	grid-template-columns: 60% 40%;
	padding: 2%;
    padding-top: 0;
}

#contactForm {
	padding: 15%;
	padding-top: 20%;
	background-image: url("images/contactFormBG.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

#socialMedia {
	margin:auto;
}

#socialMedia a {
	text-decoration: none;
	color: antiquewhite;
}

#gamesPage {
	background-image: url("images/linedPaper.jpeg");
	overflow-y: auto;
}