body {
    background-color: maroon;
	font-family: "ff-nexus-typewriter", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	cursor: url('images/magnifyingGlassVector3.png'), auto;
}

h1 {
	font-family: "logic-monospace", mono;
	font-weight: 500;
	font-style: normal;
	text-align: center;
}

a {
	text-decoration: none;
}

#body-grid {
    margin: 10px;
}

#nav {
	padding: 20px;
    padding-bottom: 0;
	/* background-color: beige; */
    background-image: url('./images/newspaperBG.jpeg');
    background-size: 70%;
}

#nav ul {
	/* display: inline; */
	list-style-type: none;
	width: 80%;
	/* margin: auto; */
	padding: 0;
	margin: 0;


}

#nav button {
	border-radius: 5px 5px 0 0;
	border-width: 0;
	padding: 5px 15px 5px 15px;
	background-color: #a9956a;
	/* width: 15%; */
}

#nav button:hover {
	background-color: rgb(164, 133, 100);
}

#nav button.active {
	background-color: maroon;
	color: antiquewhite;
}

/* ABOUT PAGE */
#outerFolder {
	background-color: #a9956a;
    padding: 20px;
}

#aboutFolder {
	display: grid;
	/* margin: 10px; */
	/* height: 100vh; */
	background-image: url("images/linedPaper.jpeg");
	background-repeat: none;
	background-position: center;
	background-size: 50%;
    grid-template-columns: 50% 50%;
	/* grid-template-columns: 5% 10% 35% 5% 25% 15%; */
	/* grid-template-rows: 60% 40%; */
	padding: 20px
}

#bio {
    margin: auto; 
    font-size: 16px;
}

#callout {
	/* padding: 10px; */
	color: antiquewhite;
	padding-top: 5%;

}

#contact {
	display: grid;
	grid-template-columns: 60% 40%;
	/* column-gap: 5%; */
	padding: 2%;
    padding-top: 0;
}

#contactForm {
	/* background-color: antiquewhite; */
	padding: 15%;
	padding-top: 20%;
	background-image: url("images/contactFormBG.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

#socialMedia {
	margin:auto;
}

#socialMedia a {
	text-decoration: none;
	color: antiquewhite;
}

#gamesPage {
	background-image: url("images/linedPaper.jpeg");
	/* max-height: 90%; */
	overflow-y: auto;
}

/* FOOTER */
.footer {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 10px;
	background-image: url("images/paperTexture.jpeg");
	background-size: 50%;
	/* background-color: #C6A876; */
	padding: 10px;
	font-family: "ff-nexus-typewriter", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

.footer a {
    color: #DC3545;
}

.footer h1 {
	text-align: left;
}