.body-grid {
	display: block;
	padding: 10px;
}

#nav {
	padding: 20px;
	padding-bottom: 0;
	background-image: url('./images/newspaperBG.jpeg');
    background-size: 70%;
}

.photos {
    margin: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.581);
}

#gallery {
    background-image: url("images/linedPaper.jpeg");
	background-size: 70%;
    padding: 20px;
}